################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.sln
/.vs/kgy_Webapi/v15/Server/sqlite3
/.vs/kgy_Webapi/v15
/.vs
*.user
/bin
/obj